/* 
    Created on : 12 abr. 2022, 15:11:50
    Author     : Andrés Villalobos
*/
span.error{color:red; font-size:0.8em;}

body{
    margin: 0;
    font-family: sans-serif;
}

.navbar{
    background-color: #85FFBD;
    background-image: linear-gradient(45deg, #85FFBD 0%, #FFFB7D 100%);
    margin-bottom: 1.5em
}

.parrafo{
    margin-bottom: 2.5em
}

.titulos{
    text-align: center;
    font-family: 'Roboto Mono', monospace;
}

.espacio{
    margin-top: 5px 
}